.pd-5{
    padding-top: 100px !important;
}
body{
    background-color: #1C1C1C !important;
}
.bg{
    background-color: #000000 !important;
}
.s-4{
    color: #B0B0B0 !important;
}
.current-menu{
    color: #FFCA2C !important;
}